* {
  box-sizing: border-box;
}

body {
  background-color: #00bdd0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #043a45;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 10px 0px, rgba(0, 0, 0, 0.4) 0px 2px 4px -1px;
}

h1 {
  font-size: 24px;
  color: #e7e7e7;
  font-family: "Bruno Ace", cursive;
  font-weight: bold;
  margin: 0 20px;
}

h1 a {
  text-decoration: none;
  color: #e7e7e7;
}

nav {
	display: flex;
  flex-direction: row;
}

nav a {
	color: #fbfcfe;
	text-decoration: none;
	font-size: 15px;
  font-family: "Bruno Ace", cursive;
	letter-spacing: 1px;
	margin: 0 25px;
}

nav a:hover {
	color: #04ddfb;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

#menu-toggle {
  display: none;
}

#menu-icon {
  cursor: pointer;
  font-size: 25px;
  display: none;
  font-family: "Bruno Ace", cursive;
  color: #ffffff;
}

.banner {
  text-align: center;
  position: relative;
  border-bottom: 1px solid #aed3d6;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.banner h2 {
  color: #ffffff;
  text-align: center;
  font-family: "Bruno Ace", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 80%;
  text-shadow: 0.5px 0.5px 1px black;
}

.banner img {
  display: block;
  max-width: 70%;
  height: auto;
  margin-top: -9%;
}

.prefix {
  font-size: 20px;
  display: block;
}

.top-text {
  font-size: 70px;
  display: block;
}

.bottom-text {
  font-size: 70px;
  display: block;
}
.banner .suffix {
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 1px black;
}

footer {
  background-color: #1a1a1a;
  padding: 20px;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links h3 {
  margin: 0;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #f8c900;
}

.stages {
  width: 80%;
  margin: 80px auto;
}

.stages h2 {
  color: #ffffff;
  font-size: 35px;
  font-family: "Bruno Ace", cursive;
  margin: 60px 25px;
  text-shadow: 0.5px 0.5px 1px black;
}

.stages .stages-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stages .stages-images img{
  width: 30%;
  margin: 0 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.lineup {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #aed3d6;
}

.lineup .lineup-text {
  width: 80%;
  margin: 60px;
}

.lineup h2 {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  font-family: "Bruno Ace", cursive;
  margin: 60px 25px;
  text-shadow: 0.5px 0.5px 1px black;
}

@media screen and (max-width: 480px) {
  .row {
    flex-direction: column;
  }

  .lineup h2 {
    font-size: 20px;
    margin: 0;
  }

  .banner {
    margin: 0;
  }

  .prefix {
    font-size: 5px;
  }

  .top-text {
    font-size: 20px;
  }

  .bottom-text {
    font-size: 20px;
  }

  .suffix {
    font-size: 20px;
  }

  nav {
    display: none;
    position: absolute;
    top: 59px;
    right: 0;
    width: 50%;
    background-color: #043a45;
    opacity: 80%;
    z-index: 1;
    flex-direction: column;
  }
  nav a {
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #aed3d6;
  }
  #menu-toggle:checked + #menu-icon {
    color: #ffffff;
  }
  #menu-toggle:checked ~ nav {
    display: flex;
  }
  #menu-icon {
    display: block;
  }
}