<table>
    <thead>
      <tr>
        <th>Artist Lineup</th>
      </tr>
    </thead>
    <tbody>
      <% for (let line of lineup) { %>
        <tr>
          <td><%= line.name %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  