<table>
    <thead>
      <tr>
        <th>Festival Stages</th>
      </tr>
    </thead>
    <tbody>
      <% for (let stage of stages) { %>
        <tr>
          <td><%= stage.name %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  